<div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.league}}" placeholder="League Name" name="league">
      <label for="floatingInput">League</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.teamName}}" placeholder="Team Name" name="teamName">
      <label for="floatingInput">Team</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.teamLogo}}" placeholder="URL" name="teamLogo">
      <label for="floatingInput">Team Logo URL</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.venue}}" placeholder="Venue" name="venue">
      <label for="floatingInput">Venue</label>
    </div>
  </div>
  <div class="col-6" "row-1">
    <div class="form-floating mb-3">
      <textarea class="form-control" placeholder="Venue Image URL" id="comments" name="venueImage">{{this.venueImage}}</textarea>
      <label for="comments">Venue Image URL</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>